<html>

<head>
	<title>Welcome to this system</title>
</head>

<body>
	<form action="http://34.93.243.209/send_data" method="post" >
		<div class="container">
			<h1>Register</h1>
			<p>
				Fill This form for Registration
			</p>
			<hr>

			<label for="fname"><b>First Name</b></label>
			<input type="text" placeholder="Enter Your First" name="fname" id="fname" required><br>

			<label for="lname"><b>Last Name</b></label>
			<input type="text" placeholder="Enter Your Last Name" name="lname" id="lname" required><br>

			<label for="email"><b>Email-Id</b></label>
			<input type="text" placeholder="Enter Your Email address" name="email" id="email" required><br>

			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Setup a Password" name="password" id="password" required><br>

			<label for="gender"><b>Gender</b></label>
			<input type="radio" id="male" name="gender" value="male">
			<label for="male">Male</label><br>
			<input type="radio" id="female" name="gender" value="female">
			<label for="female">Female</label><br>
			<input type="radio" id="other" name="gender" value="other">
			<label for="other">Other</label><br>

			<input type="submit" name="form" value="Submit"><br>
			<a href="/login">Login</a>
			<hr>
		</div>
	</form>
</body>

</html>
