<html>

<head>
	<title>Login to this system</title>
</head>

<body>
	<form action="http://34.93.243.209/auth" method="post" >
		<div class="container">
			<h1>Login</h1>
			<hr>
			<label for="email"><b>Email-Id</b></label>
			<input type="text" placeholder="Enter Your Email address" name="email" id="email" required><br>

			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Password" name="password" id="password" required><br>

			<input type="submit" name="form" value="Login">
			<hr>
		</div>
	</form>
</body>

</html>